@import url(highlight/github.css);

body {
	border: 0;
	margin: 0;
	padding: 15px 40px;
	font-family: sans-serif;
	line-height: 1.4;
}

form: {
	border: 0;
	margin: 0;
	padding: 0;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

article {
	font-family: Georgia, Serif;
	font-size: 18px;
	max-width: 640px;
}

article code {
	background-color: #f8f8ff;
	font-size: 16px;
	padding: 1px 4px;
	border: 1px solid rgba(0,0,0,0.1);
}

article em {
	font-size: 14px;
	color: #666;
}

.chooser fieldset {
	display: inline-block;
}
.chooser select {
	font-size: 18px;
	margin-bottom: 20px;
	margin-right: 20px;
}

pre {
	tab-size: 4;
	font-size: 16px;
	border: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 30px;
}
pre code {
	overflow: scroll;
}

.example-region {
	border-top: 1px solid rgba(0,0,0,0.3);
}
