.freeform-inline {
	margin-bottom: 30px;

	.element  {
		margin-bottom: 1em;
		white-space: nowrap;

		> * {
			display: inline-block;
			vertical-align: middle;
		}

		label.error {
			padding-left: 10px;
		}
	}

	.element.type-text,
	.element.type-textarea,
	.element.type-select {
		.input-region {
			width: 280px;
		}
		label.label {
			width: 140px;
			text-align: right;
			padding-right: 5px;
		}
	}

	.element.type-textarea {
		> * {
			vertical-align: top;
		}
		label {
			margin-top: 5px;
		}
	}

	.element.type-checkbox {
		padding-left: 146px;
		input {
			margin-right: 0.3em;
		}
	}

	.element.type-button,
	.element.type-buttonset {
		padding-left: 146px;
	}

}
