.freeform-stacked {
	margin-left: 50px;
	margin-bottom: 40px;

	.element  {
		margin-bottom: 20px;

		.input-region {
			display: block;
		}

		input[type=text],
		select,
		textarea {
			display: block;
			margin: 0;
			font-family: inherit;
			font-size: 18px;
			line-height: 1.8em;
			border-radius: 3px;
			border: 1px solid rgba(0,0,0,0.1);
			padding: 4px 8px;
			width: 100%;
			box-sizing: border-box;
			
			&:hover,
			&:focus {
				border: 1px solid rgba(0,0,0,0.3);
			}
		}

		input[type=text],
		select {
			height: 1.8em;
		}

		label {
			display: block;
			font-size: 18px;
			user-select: none;
		}
		label.label {
			margin-bottom: 5px;
		}

		.error-region {
			display: block;
			min-height: 25px;
			margin-bottom: -20px;
			padding-top: 5px;
		}

		label.error {
			font-size: 14px;
			font-style: italic;
			font-family: Georgia, Serif;
			color: rgba(153,0,0,1);
		}
	}

	.element.element-error {
		input[type=text],
		select,
		textarea {
			border: 1px solid rgba(153,0,0,0.5);
		}
	}

	.element.type-text,
	.element.type-textarea,
	.element.type-select {
		.input-region {
			width: 280px;
		}
	}

	.element.type-checkbox {
		.input-region {
			display: inline-block;
		}
		input {
			display: inline-block;
			position: relative;
			top: -2px;
		}
		label.label {
			display: inline-block;
			margin: 0;
		}
		
	}

}
