.freeform-mixed {
	margin-left: 50px;
	margin-bottom: 35px;

	.element  {
		margin-bottom: 1em;
		white-space: nowrap;

		.input-region {
			display: inline-block;
		}

		label.label {
			display: block;
			margin-bottom: 5px;
		}
		label.error {
			padding-left: 10px;
		}
	}

	.element.type-text,
	.element.type-textarea,
	.element.type-select {
		.input-region {
			width: 280px;
		}
	}

	.element.type-textarea {
		label.error {
			vertical-align: top;
			margin-top: 5px;
		}
	}

	.element.type-checkbox {
		input {
			position: relative;
			top: -1px;
			margin-right: 0.3em;
		}
		label.label {
			display: inline-block;
		}
	}

}
