.freeform-stacked {
	margin-left: 50px;
	margin-bottom: 35px;

	.element  {
		margin-bottom: 20px;

		.input-region {
			display: block;
		}

		label {
			display: block;
		}
		label.label {
			margin-bottom: 5px;
		}

		.error-region {
			display: block;
			min-height: 25px;
			margin-bottom: -20px;
			padding-top: 5px;
		}

		label.error {
			font-size: 14px;
		}
	}

	.element.type-text,
	.element.type-textarea,
	.element.type-select {
		.input-region {
			width: 280px;
		}
	}

	.element.type-checkbox {
		.input-region {
			display: inline-block;
		}
		input {
			position: relative;
			top: -1px;
			margin-right: 0.3em;
		}
		label.label {
			display: inline-block;
			margin: 0;
		}
	}

}
