.freeform .element {
  display: block; }
  .freeform .element input,
  .freeform .element select,
  .freeform .element button,
  .freeform .element textarea {
    margin: 0;
    font-family: inherit;
    font-size: 18px;
    line-height: 1.8em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box; }
  .freeform .element input[type=text],
  .freeform .element input[type=password],
  .freeform .element select,
  .freeform .element textarea {
    display: block;
    width: 100%;
    padding: 0.03em 0.4em;
    border-radius: 3px; }
    .freeform .element input[type=text]:hover, .freeform .element input[type=text]:focus,
    .freeform .element input[type=password]:hover,
    .freeform .element input[type=password]:focus,
    .freeform .element select:hover,
    .freeform .element select:focus,
    .freeform .element textarea:hover,
    .freeform .element textarea:focus {
      border: 1px solid rgba(0, 0, 0, 0.3); }
  .freeform .element input[type=text],
  .freeform .element input[type=password],
  .freeform .element select {
    height: 1.8em; }
  .freeform .element select,
  .freeform .element button {
    background-color: white;
    color: #000;
    box-shadow: inset 0 -2.5em 2.5em -2.5em rgba(0, 0, 0, 0.1); }
    .freeform .element select[disabled],
    .freeform .element button[disabled] {
      box-shadow: none;
      opacity: 0.5; }
    .freeform .element select:active,
    .freeform .element button:active {
      box-shadow: inset 0 2.5em 2.5em -2.5em rgba(0, 0, 0, 0.1); }
  .freeform .element button {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 0.1em 0.8em; }
    .freeform .element button:hover, .freeform .element button:focus {
      border: 1px solid rgba(0, 0, 0, 0.5); }
  .freeform .element label {
    display: inline-block;
    font-size: 18px;
    user-select: none; }
  .freeform .element label.error {
    font-style: italic;
    font-family: Georgia, Serif;
    color: #990000; }
.freeform .element.element-error input[type=text],
.freeform .element.element-error input[type=password],
.freeform .element.element-error select,
.freeform .element.element-error button[type=submit],
.freeform .element.element-error textarea {
  border-color: rgba(153, 0, 0, 0.5);
  outline-color: rgba(153, 0, 0, 0.5); }
.freeform .element.type-buttonset button {
  margin-right: 0.5em; }
.freeform .element.type-buttonset button[type=submit] {
  background-color: rgba(0, 102, 255, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.5); }
  .freeform .element.type-buttonset button[type=submit]:hover, .freeform .element.type-buttonset button[type=submit]:focus {
    border: 1px solid rgba(0, 0, 0, 0.7); }
.freeform .element.type-buttonfield .input-region > * {
  display: block;
  width: 400px;
  position: relative; }
.freeform .element.type-buttonfield input {
  height: 2.2em;
  border: 1px solid rgba(0, 0, 0, 0.3); }
.freeform .element.type-buttonfield button {
  height: calc(2.2em - 2px);
  margin: 1px 2px;
  position: absolute;
  top: 0;
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  border-color: rgba(0, 0, 0, 0.3); }
.freeform .element.type-buttonfield input:focus + button {
  height: calc(2.2em - 4px);
  margin: 2px 2px; }

/*# sourceMappingURL=freeform-common.css.map */
